#feedbackPageContainer{
    background:
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQyse2YXCizMCl-7FmClY3OGoU3zLdqbLFGRGxafdGsk-1mN43Zg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100rem;
}
#navBar{
    position: fixed;
    right: -1.5rem;
}
#presentationFeedbackH1{
    color: white;
    text-align: center;
}
#feedbackPageListContainer{
    padding-top: 5rem;
}
#feedbackHr{
    border: .1px solid white;
    margin-bottom: 3rem;
}
#feedbackUl{
    color:white;
}
.spanTextShadow{
    color: skyblue;
}
#feedbackListItem{
    margin-bottom: 2rem;
}
.feedbackListBtn{
    float: right;
}