.row.match-height{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:white;
    opacity: .8;
}
#surveyContainer{
    background:
        url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/cW5lDBG/videoblocks-abstract-programming-code-background-software-development-concept_bdh5fisnx_thumbnail-full01.png") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 45rem;
}
#feedback{
    width: 100%;
}
.surveyInputs{
    background: white !important;
    color: black !important;
    border-color: white !important;
}
#feedbackButton{
    width: fit-content;
    float: right;
}
#feedbackBtn{
    background: transparent;
    border-color: white !important;
    color: white;
}
#cancelButton{
    width: fit-content;
    float: right;
    margin-right: 1rem;
}
#cancelBtn{
    background: transparent;
    border-color: white !important;
    color: white;
}
.labels{
    color: white;
}
.range{
    font-style: italic;
}
.card-body{
    background: darkgrey;
}
